/*Titulos*/
h1{
    color: greenyellow;
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
/*comentarios*/
/*llamar al atributo class*/
.verde{color: aquamarine;
    background-color: rgb(229, 247, 125);}
/*llamar al atributo ids*/
/*#nombre del id{} */
/* Para traer una imagen de fondo */
/*body{background-color: #E9724C;
    background-image: url("../Img/rotacin.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;}*/
.contenedor-header{
    background-color: aqua;
}
.container{
    background-color: blue;
    height: 100vh;
}

